<!-- based on https://github.com/mrdoob/three.js/blob/master/examples/webxr_ar_cones.html -->

<ngt-point-light intensity="0.75" [position]="[0, 1, 0]"></ngt-point-light>

<ngt-mesh *ngFor="let item of cones" [position]="item.position" [quaternion]="item.quaternion">
  <ngt-cylinder-geometry [args]="[0, 0.05, 0.2, 32]"></ngt-cylinder-geometry>
  <ngt-mesh-standard-material [color]="item.color"></ngt-mesh-standard-material>
</ngt-mesh>

<ar-controller #left (tap)="addcone(left.controller)"></ar-controller>
<ar-gestures navhome></ar-gestures>
